#about {
    height: 100%;
}
.about-info {
    display: grid;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        width: 200px;
        height: 250px;
        border: $secondary-color 3px solid;
        
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: lighten($primary-color, 5);
        padding: 1.5rem;
        border-bottom: $secondary-color 5px solid;
        
    }
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@include mediaMd {
    .about-info {
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

}
li {
    list-style: none;
}