// Colors and global variables 
$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../images/computer.jpeg);
$background-opacity: 0.8;   

@mixin easeOut {
    transition: all 0.5s ease-out;
}
@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            // psudo element pretents its after bg-img even though its not
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: rgba($primary-color, $background-opacity);
            }
        }
    }
}

:root {
    --primary-color: #444;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}

html {
    font-size: 62.5%;
}

/* all child element will get these */
body {
    @include background();
    background-color: var(--primary-color);
    color: #fff;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading{
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten( $primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

//Media Query Mixins 
@mixin mediaSm {
    @media screen and (max-width: 500px){
        // anything we put inside mixin in another file we just add mixin 
        // and it automatically gets put in here
        @content;
    }
}


@mixin mediaMd {
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}
@mixin mediaXl {
    @media screen and (min-width: 1171px){
        @content;
    }
}