
.projects {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    
    img {
        width: 100%;
        height: 300px;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include mediaMd {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include mediaSm {
    #work {
        height: 100%;
    }
    .projects {
        grid-template-columns: 1fr;
    }
}